body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1.crimson {
  color: crimson;
}

h1.blue {
  color: blue;
}

h1.darkgreen {
  color: darkgreen;
}

h1.indigo {
  color: indigo;
}

h1.teal {
  color: teal;
}
